.App {
  background-color: #282c34;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(2vmin);
  color: white;
  overflow-x: hidden;
}

@font-face{
  font-family:"big-john-regular";
  src:url("./BigJohn.woff");
  font-size: 50px;
}

.main-content {
  background-color: #282c34;
}

.full-title {
  text-align: start;
  color: lightgray;
}

.texty {
  padding-top: 70%;
}

.cards {
  background-color: blueviolet;
  height: 14rem;
  width: 14rem;
  border-radius: 16px;
  box-shadow: 1px 3px 6px black;
}

.file-input {
  height: 10rem;
  width: 10rem;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
  height: auto;
  text-align: center;
  background-color: rgb(255,255,255,0.2);
  border-radius: 1rem;
}

.upload-img {
  align-items: center;
}

input {
  border-style: none;
  border-radius: 3rem;
  height: 2.4rem;
  width: 40%;
}

.nav-text {
  font-family: "big-john-regular";
  font-size: 22px;
  color:#32c7d7;
}

.upload-text {
  font-family: "big-john-regular";
  font-size: 32px;
  color: #32c7d7;
  text-align: center;
}

.upload-text2 {
  font-size: 40px;
}

.upload-img {
  width: 15rem;
}

.subject-text {
  margin-top: 20vh;
  font-family:"big-john-regular";
  font-size:50px;
  text-transform:none;
}

.browse-link {
  color: #32c7d7;
  text-decoration: underline;
}

.topic-catagory {
  font-family: "big-john-regular";
  padding-bottom: 2rem;
}

.nav-bar {
  height: 100vh;
  background-color: black;
}

.top-bar {
  background-color: black;
}

.cards {
  /* text-align: right; */
  text-align: end;
}

.nav-item1 {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.nav-item2 {
  text-decoration: none;
  color: gray;
  font-size: 1.15rem;
}